# .gitignore

# Ignore the env folder
/env
/myenv

# Ignore Python byte code files
__pycache__/
*.pyc

# Ignore the generated virtual environment
/.venv
/venv

# Ignore the local development database file
dev.db

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-*
*.swp
